<template>
  <div id="app">
    <md-app style="min-height: 100vh;">
      <md-app-toolbar class="md-primary">
        <span class="md-title">Admiral</span>
      </md-app-toolbar>

      <md-app-drawer md-permanent="full">
        <md-toolbar class="md-transparent" md-elevation="0">
          Navigation
        </md-toolbar>

        <md-list>
          <md-list-item to="/">
            <md-icon>home</md-icon>
            <span class="md-list-item-text">Home</span>
          </md-list-item>

          <md-list-item to="/tillers">
            <md-icon>storage</md-icon>
            <span class="md-list-item-text">Tillers</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view/>
      </md-app-content>
    </md-app>
  </div>
</template>
