<template>
  <div class="home">
    <h3>
      Admiral makes it easy to manage Helm tillers across multiple Kubernetes clusters.
    </h3>

    <strong>Features</strong>

    <ul>
      <li>Cloud native, runs in any kubernetes cluster or locally</li>
      <li>Centrally manage Helm Repo's across a team</li>
      <li>Deploy and Rollback updates and chart versions to Releases across multiple tillers</li>
      <li>Inspect and edit Releases from the browser</li>
      <li>Query Releases, Charts, Repositories, and Tiller statuses across multiple tillers or Kubernetes clusters</li>
    </ul>

    im a stupid stinkin home page i'll probably break to
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
