<template>
  <div>
    <md-card>
      <md-card-header>
        <div class="md-title">Tiller: {{ tiller.name }}</div>
      </md-card-header>
      <md-card-content>
        <span>
          <strong>Cluster:</strong> {{ tiller.cluster_id }}
        </span>
      </md-card-content>
    </md-card>

    <md-table md-card v-model="tiller.releases" md-sort="name" md-sort-order="asc">
      <md-table-toolbar>
        <div class="md-title">{{ tiller.releases.length }} Releases</div>
      </md-table-toolbar>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Revision" md-sort-by="revision">{{ item.revision }}</md-table-cell>
        <md-table-cell md-label="Updated" md-sort-by="updated">{{ item.updated }}</md-table-cell>
        <md-table-cell md-label="Status" md-sort-by="status">{{ item.status }}</md-table-cell>
        <md-table-cell md-label="Chart" md-sort-by="chart">{{ item.chart }}</md-table-cell>
        <md-table-cell md-label="Namespace" md-sort-by="namespace">{{ item.namespace }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  name: 'TillerShow',
  data: function () {
    const tillers = this.$store.state.tillers
    const tillerId = this.$route.params.tillerId
    const tiller = tillers.filter(t => t.id == tillerId)[0]

    return {
      tillerId,
      tiller
    }
  }
}
</script>
