<template>
   <div>
     <md-table v-model="tillers" md-sort="name" md-sort-order="asc" md-card>
      <md-table-toolbar>
        <h1 class="md-title">{{ tillers.length }} Tillers</h1>
      </md-table-toolbar>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
        <md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Cluster" md-sort-by="cluster_id">{{ item.cluster_id }}</md-table-cell>
        <md-table-cell md-label="# Releases" md-sort-by="releases.length">
          <md-button :to="`/tillers/${item.id}`" class="md-primary">
            {{item.releases.length }} Releases
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  name: 'TillerIndex',
  data: function () {
    var users = this.$store.state.users;
    var tillers = this.$store.state.tillers
    return {
      users,
      tillers
    }
  }
}
</script>
